node_modules
npm-debug.log
build
.dockerignore
Dockerfile

# 開発環境関連
.git
.env
.env.local
.env.development
.env.test
.env.production

# エディタ設定
.vscode
.idea

# OS関連
.DS_Store
Thumbs.db

# ログファイル
yarn-debug.log*
yarn-error.log*

# テスト関連
coverage

# ドキュメント
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE 